<div class="container-fluid" style="background-color:lightblue">

    <div class="row">

        <div class="col-md-4 offset-md-1">

            <ag-grid-angular #agGrid style="top : 100px;width: 1600px; height: 500px;"

            class="ag-theme-balham"

            [rowData]="rowData"

            [rowSelection]="rowSelection"


            [frameworkComponents]="frameworkComponents"

            (gridReady)="onGridReady($event)"

            (getSelectedRows)="getSelectedRows()"

            (rowClicked)="onRowClick($event)"

            [columnDefs]="columnDefs">

            </ag-grid-angular>

        </div>

    </div>

</div>