<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">S R Bevereges</h1>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sidenav>
        <mat-nav-list class="example-radio-group">
          <a mat-list-item *ngFor="let nav of fillerNav">{{nav}}</a>
          <p> <label>Mode:</label></p>
          <p> <label>label</label></p>
          <p> <label>Mode:</label></p>
          <p> <label>Dashboard</label></p>
          <p> <label>Profile</label></p>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
       <!-- <app-customer-details></app-customer-details> -->
       <app-product-table></app-product-table>
      </mat-sidenav-content>
    </mat-sidenav-container>  
  