/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ag-cell-focus,.ag-cell-no-focus{

    border:none !important;

  }

  /* This CSS is to not apply the border for the column having 'no-border' class */

  .no-border.ag-cell:focus{

    border:none !important;

    outline: none;

  }
